.home-banner{
    /* background-color: aquamarine; */
    margin-top: 0;
    padding-top: 0;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: center; */
    
}

.errorMsg{
  color:red
}

.App-header {
    background-color: #33363b;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  .login-page {
    background-color: rgba(213, 230, 233, 0.7);
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .movie-table{
      background-color: rgb(30, 31, 71);
      color: bisque;
      
  }